In [3]:
import pandas as pd
import numpy as np ##to work with arrays

In [4]:
df=pd.read_csv("S:\\ML_AI_DS\\\MY_TASKS\\Income_expense.csv")

In [5]:
df.head()

           date  income  expense
0  Jan 01, 2021   10000     1000
1  Jan 02, 2021    9000      900
2  Jan 03, 2021    6000      700

In [6]:
df1=df[["income","expense"]]

In [7]:
df1.head()

   income  expense
0   10000     1000
1    9000      900
2    6000      700

In [9]:
#TO-DO
## ->Create a function that subtracts two columns in the dataframe
## ->Create a new column "savings" and put the resulting output in that column for all values

def savings(a,b):
    return(a-b)

df1['savings']=df1.apply(lambda f: savings(f['income'],f['expense']), axis=1)
print(df1)

   income  expense  savings
0   10000     1000     9000
1    9000      900     8100
2    6000      700     5300